
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
 

}

.nav-style
{
  height: 80px;
  display: flex;
  background-color: hsl(278, 89%, 18%);
  justify-content: center;
  align-items: center; 
  
 
}


.nav-items{
display: grid;
grid-gap: 20px;
list-style: none;
grid-template-columns: repeat(5, auto);
font-size: 1.2rem;
justify-content: end;
margin-right: 2rem;
width: 70vw;
text-align: center;


}

