
* {
  box-sizing: border-box;
  padding-top: 0;
  margin: 0;
  font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  background-repeat: no-repeat;
  background-size: 80%;
  
  

}


.cardWrapper{
  display: flex;
  justify-content: center;
}

.nav-style
{
  
  height: 80px;
  display: flex;
  background-color: rgb(247, 3, 206);
  justify-content: center;
  align-items: center; 

 
  
}


.nav-items {
display: grid;
grid-gap: 20px;
list-style: none;
grid-template-columns: repeat(5, auto);
font-size: 1.2rem;
justify-content: end;
margin-right: 2rem;
width: 70vw;
text-align: center;


}

.nav-items a {
  color: #ffff;

}



.signup {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./components/Vintagebg2.jpg");
  background-size: contain;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: white;
  background-color:#070707;

}
.signup input {
  margin : 10px;
}

.signup p{
  display: flex;
  margin-top: 1rem; 
  margin-bottom: 3rem; 
  font-size: 25px;
  
}

.searchBar {
  
  align-items: center;
  margin-top: 10rem; 
  display: flex;
  justify-content: center;
}

.searchButton{
  background-color:  rgb(247, 3, 206);
}
.title {
  padding-top: 200px;
}
/*.signup p{
  display: flex;
  margin-top: 10rem; 
  margin-left: 10rem; 
  margin-right: 10rem; 
  text-align: center;
}*/

